.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



@media screen and (max-width: 992px) {

 .App  {

  width: 90%;
  margin: 5% 15px 10px 5%;
 }
  
}