.todoitemlist__main {

    border: 2px rgb(204, 204, 204) solid;
    max-width: 744px;
    width: 100%;
    min-height: 70px;
    border-radius: 6px;
    background: rgba(0, 255, 115, 0.1);
    margin: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;

}

@media screen and (max-width: 992px) {

    .todoitemlist__main {
        width: 99%;
    }
}